<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Model answers{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% if user.is_authenticated %}
	Logged in as <a href="{% url auth_profile %}">{{ user }}</a>.
	<a href="{% url auth_logout %}">Logout</a>
	{# <a href="{% url auth_logout %}?next={{ request.path }}">Logout</a> #}
        {% else %}
        <a href="{% url auth_login %}">Login</a>
        {# <a href="{% url auth_login %}?next={{ request.path }}">Login</a> #}
        {% endif %}

        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/exercises/">Exercises</a></li>
        </ul>
        {% endblock %}
    </div>

    {% block messages %}
    {% if messages %}
    <div id="messages" class="container_12">
      <div class="grid_12">
        <ul>
          {% for msg in messages %}
          <li class="{{ msg.tags }}">{{ msg|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
