{% extends "base.html" %}

{% block content %}

<a href="{% url show_page page.pk %}">View</a>
<a href="{% url edit_page page.pk %}">Edit</a>
History


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="{{ MATHJAX_URL }}" ></script>


<h1>History: {{ page.last_revision }}</h1>

<table>

  <thead>
    <tr>
      <th>
        Author
      </th>
      <th>
        Time
      </th>
    </tr>
  </thead>

  <tbody>
    {% for revision in revisions %}
      <tr>
        <td>
          <p>
            {# <a href="{% url auth_profile %}"> #}
              {{ revision.author }}
            {# </a> #}
          </p>
        </td>
        <td>
          <p>
            <a href="{% url show_revision page.pk revision.pk %}">
              {{ revision.created }}
            </a>
          </p>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
