{% extends "base.html" %}

{% block content %}

<a href="{% url exercises:show page.pk %}">View</a>
<a href="{% url exercises:edit page.pk %}">Edit</a>
History


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="{{ MATHJAX_URL }}" ></script>


<h1>History: {{ page }}</h1>

<table>

  <thead>
    <tr>
      <th>
        Author
      </th>
      <th>
        Time
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>

  <tbody>
    {% for revision in revisions %}
      <tr>
        <td>
          {# <a href="{% url auth_profile %}"> #}
            {{ revision.author }}
          {# </a> #}
        </td>
        <td>
          <a href="{% url exercises:show_revision page.pk revision.pk %}">
            {{ revision.created }}
          </a>
        </td>
        <td>
          {{ revision.description }}
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
